<include file="Public:head" />
<script type="text/javascript">
var desc_list = [];

function show(id)
{
	var span = document.getElementById("showspan");
	span.innerHTML = desc_list[id];
	span.style.display = (span.style.display == "none")?"block":"none";	
}
</script>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td height="60" align="center"><h1>欢迎你：<span class="blue">{$login.name}</span> <a href="http://pm.test.com/app/test.apk">下载APK</a>&nbsp;
       <a href="http://pm.test.com/app/test.ipa">下载ipa</a></h1></td>
      </tr>	    
    </table>
	
	
	<div ></div>
	<table  cellspacing="0" cellpadding="0" align="center" bordercolor="#d1d1d1" border="1" width="80%">
	<tr>
        <td align="left" colspan="5">Android APP更新记录（<font color="red">注：版本Code值必须和App的Code一一对应</font>）&nbsp;<a href="{:U('Update/add')}">增加新更新</a></td>
     </tr>
	 <tr>
        <td align="left" colspan="5" style="overflow:auto;border:1px solid  #d1d1d1;display:none;margin:5px 0px" id="showspan" height="50px"></td>
     </tr>
	<tr bgcolor="#f7f7f7" height="26px">
		<td>版本Code值</td>
		<td>版本号</td>
		<td>安装包名称</td>
		<td>发布时间</td>
		<td>操作</td>
	</tr>
	<foreach name="updatelist" item="v">
	<tr>
		<td>{$v.code}
		<if condition="$v['show'] eq 1"><font color=red>【已发布】</font></if>
		<script type="text/javascript">
				desc_list[{$v.id}]={:json_encode($v['desc'])};
		</script>
		</td>
		<td>{$v.name}</td>
		<td>{$v.apk_name}</td>
		<td>{$v.adddate|date='Y-m-d H:i:s',###}</td>
		<td><a href="{:U('Update/edit',array('id'=>$v['id']))}">修改</a>
		<if condition="$v['show'] eq 0">
				 | <a href="{:U('Update/doShow',array('id'=>$v['id'],'show'=>1))}">发布</a>
				 <else />
				 | <a href="{:U('Update/doShow',array('id'=>$v['id'],'show'=>0))}">取消发布</a>
		</if>
		<input type="button" onclick="show({$v.id})" value="查看更新记录" />
		 </td>
	</tr>
	</foreach>
	</table>
		
	<div class="clear"></div>
<include file="Public:foot" />