<include file="Public:head" />
    <h1>{$title}</h1>
<script type="text/javascript">
function checkParent(obj)
{
	var name=obj.value;
	var code = name.split('_');
	code = code[0];
	document.getElementById(code+'_index').checked = true;
}
function parentClick(obj)
{
	if(obj.checked === true) return;
	var input = document.getElementsByTagName('input');
	var code = obj.value;
	var f = null;
	for(var i=0;i<input.length;i++)
	{
		f = input[i].getAttribute('for');
		if(f === code)
		{
			input[i].checked = false;
		}
	}
}
</script>
<form action="{:U('User/'.$action)}" method="post">
<table cellpadding=0 cellspacing=0 width="98%" bordercolor="#d1d1d1" border="1">
<tr>
<td  align="right" class="bold" width="30%">用户名称·：</td>
<td align="left">
<eq name="action" value="save">
<input type="text" name="name" value="{$vo.name}">
<else />
{$vo.name}
</eq>
</td>
</tr>
<tr>
<td  align="right" class="bold">登录密码：</td>
<td align="left" width="70%"><input type="password" name="pwd"  ></td>
</tr>
<tr>
<td  align="right" class="bold">重复密码：</td>
<td align="left" width="70%"><input type="password" name="__pwd2"></td>
</tr>
<tr>
<td align="right" class="bold">真实姓名：</td>
<td align="left">
<input type="text" name="truename" value="{$vo.truename}"></td>
</tr>
<tr>
<td  align="center" class="bold" colspan="2" background-color="#d1d1d1">权限分配：</td>
</tr>
<php>
foreach($app_arr as $appkey=>$appv)
{
    if(!in_array($appkey.'_index',$role_arr))
    {
        continue;
    }
    $checked = '';
    if(false !== strpos($vo['role_list'],$appkey.'_index') || $vo['id']<2 || $vo['name'] == C('admin'))
    {
        $checked = 'checked';
    }
    
    echo '<tr>';
    echo '<td  align="right" class="bold" width="30%">';
    echo '<input type="checkbox" name="role_list[]" value="'.$appkey.'_index" id="'.$appkey.'_index" '.$checked.' onclick="parentClick(this);"/>'.$appv.'</td>';
    echo '<td align="left">&nbsp;';
    foreach($action_arr as $actkey=>$actv)
    {
        
        if(!in_array($appkey.'_'.$actkey,$role_arr))
        {
            continue;
        }
        $checked = '';
        if(false !== strpos($vo['role_list'],$appkey.'_'.$actkey) || $vo['id']<2 || $vo['name'] == C('admin'))
        {
            $checked = 'checked';
        }
        echo '<input type="checkbox" name="role_list[]" value="'.$appkey.'_'.$actkey.'" '.$checked.' onclick="checkParent(this)" for="'.$appkey.'_index"/>'.$actv.'&nbsp;';
    }
    echo '</td>';
    echo '</tr>';
}
</php>
</table>
<input type="hidden" name="id" value="{$vo.id}" />
<input type="hidden" name="__old_pass" value="{$vo.pwd}" />
{__TOKEN__}
<p align="center"><input type="submit" class="userButton" value="保存" />&nbsp;<input type="button" class="userButton" value="返回" onclick="window.location.href='{:U($MODULE_NAME.'/index')}';" /></p>
</form>

<include file="Public:foot" />