<include file="Public:head" />
<table cellpadding=0 cellspacing=0 width="95%" bordercolor="#d1d1d1" border="1">
<thead>
<tr bgcolor="#f7f7f7" height="26">
<th align="center">登录名</th>    
<th align="center">真实姓名</th>    
<th align="center">上次登录时间</th>    
<th align="center">上次登录IP</th>    
<th align="center">操作</th>  
</tr>
</thead>
<tbody>
<foreach name="list" item="v">
<tr>
<td>&nbsp;{$v.name}</td>
<td>&nbsp;{$v.truename}</td>
<td>{$v.lastdate|date='Y-m-d H:i:s',###}</td>
<td>{$v.ip}</td>
<td><a href="{:U($MODULE_NAME.'/edit',array('id'=>$v['id']))}">修改</a>
<if condition="$v['id'] gt 1 and C('admin') neq $v['name']"> | <a href="{:U($MODULE_NAME.'/del',array('id'=>$v['id']))}">删除</a></if></td>
</tr>
</foreach>
</tbody>
</table>
<p align="right">{$page}</p>
<p align="left"><a href="{:U($MODULE_NAME.'/add')}">增加</a></p>

<include file="Public:foot" />