<include file="Public:head" />
    <h1>{$title}</h1>
<form action="{$action}" method="post">
<table cellpadding=0 cellspacing=0 width="98%" bordercolor="#d1d1d1" border="1">
<tr>
<td width="30%" align="right" class="bold">栏目名称：</td>
<td align="left" width="70%"><input type="text" name="name" value="{$vo.name}" ></td>
</tr>
<tr>
<td width="30%" align="right" class="bold">栏目语种：</td>
<td align="left" width="70%" >
    <select name="lang">
    <foreach name="lang_arr" key="k" item="v">	
        <option value="{$k}" <if condition="$k eq $vo['lang']">selected</if>>{$v}</option>
    </foreach>
</select>
    </td>
</tr>
</table>
<input type="hidden" name="id" value="{$vo.id}" />
{__TOKEN__}
<p align="center"><input type="submit" class="userButton" value="保存" />&nbsp;<input type="button" class="userButton" value="返回" onclick="window.location.href='{:U($MODULE_NAME.'/index')}';" /></p>
</form>

<include file="Public:foot" />