<include file="Public:head" />
    <h1>{$title}</h1>
<script type="text/javascript">
$root = '__ROOT__/';
function chgIcon(obj)
{
    document.getElementById('img_icon').src = $root + 'icon/' + obj.value;
}
function chgModelType(obj)
{
    for(var i=1;i<=3;i++)
    {
        document.getElementById('tr_model_id_'+i).style.display='none';
    }
    document.getElementById('tr_model_id_'+obj.value).style.display='';
}
function selectIcon(obj)
{
    var v = obj.getAttribute('data-name');
    document.getElementById('icon').value = v;
    document.getElementById('img_icon').src = $root + 'icon/' + v;
    showIconSpan(false);
}
function showIconSpan(show)
{
    var iconlist = document.getElementById('iconlist');
    if(true === show)
    {
        iconlist.style.display = 'block';
    }
    else
    {
        iconlist.style.display = 'none';
    }
}
</script>
<ul class="lr">
<form action="{:U('Cate/'.$action)}" method="post">
<table cellpadding=0 cellspacing=0 width="98%" bordercolor="#d1d1d1" border="1">
<tr>
<td width="30%" align="right" class="bold">栏目名称：</td>
<td align="left" width="70%" ><input type="text" name="name" value="{$vo.name}" ></td>
</tr>
<tr>
<td width="30%" align="right" class="bold">栏目语种：</td>
<td align="left" width="70%" >
    <select name="lang">
<foreach name="lang_arr" key="k" item="v">	
    <option value="{$k}" <if condition="$k eq $vo['lang']">selected</if>>{$v}</option>
</foreach>
</select>
    </td>
</tr>
<tr>
<td width="30%" align="right" class="bold">栏目图标：</td>
<td align="left" width="70%" >
<select name="icon" onchange="chgIcon(this)" id="icon">
<php>
for($i=0;$i<count($iconlist);$i++)
{
    $check = '';
    if($vo['icon'] == $iconlist[$i])
    {
        $check = 'selected';
    }
    echo '<option value="'.$iconlist[$i].'" '.$check.'>'.$iconlist[$i].'</option>';
}
</php>
</select>
<eq name="action" value="add">
<img src="__ROOT__/icon/{$iconlist[0]}" id="img_icon"/>
<else />
<img src="__ROOT__/icon/{$vo.icon}"  id="img_icon"/>
</eq>
<input type="button" value="选择" onclick="showIconSpan(true)"/>
<div class="iconlist" id="iconlist">
<php>
for($i=0;$i<count($iconlist);$i++)
{
    $check = '';
    if($vo['icon'] == $iconlist[$i])
    {
        $check = 'select';
    }
    echo '<img src="__ROOT__/icon/'.$iconlist[$i].'" $check data-name="'.$iconlist[$i].'" onclick="selectIcon(this)" title="'.$iconlist[$i].'" alt="'.$iconlist[$i].'"/>';
}
</php>
<div class="close" onclick="showIconSpan(false)">关闭</div>
</div>
</td>
</tr>
<tr>
<td  align="right" class="bold">模型类型：</td>
<td align="left">
<select name="model_type" id="model_type" onchange="chgModelType(this)">
<php>
$type = C('model_type');
$count = count($type);
for($i=1;$i<=$count;$i++)
{
    $check = '';
    if($i == $vo['model_type'])
    {
        $check = 'selected';
    }
    echo '<option value="'.$i.'" '.$check.'>'.$type[$i].'</option>';
}
</php>
</select>
</td>
</tr>
<tr style="display:none" id="tr_model_id_1">
<td  align="right" class="bold">选择单页模型：</td>
<td align="left">
<select name="__model_id_1" >
<foreach name="aboutlist" item="v">
<option value="{$v.id}" <if condition="$vo['model_type'] eq 1 and $vo['model_id'] eq $v['id']">selected</if>>{$v.name}</option>
</foreach>
</select>
</td>
</tr>
<tr style="display:none" id="tr_model_id_2">
<td  align="right" class="bold">选择新闻模型：</td>
<td align="left">
<select name="__model_id_2">
<foreach name="newscate" item="v">
<option value="{$v.id}" <if condition="$vo['model_type'] eq 2 and $vo['model_id'] eq $v['id']">selected</if>>{$v.name}</option>
</foreach>
</select>
</td>
</tr>
<tr style="display:none" id="tr_model_id_3">
<td  align="right" class="bold">选择图片模型：</td>
<td align="left">
<select name="__model_id_3" >
<foreach name="productscate" item="v">
<option value="{$v.id}" <if condition="$vo['model_type'] eq 2 and $vo['model_id'] eq $v['id']">selected</if>>{$v.name}</option>
</foreach>
</select>
</td>
</tr>
<tr style="display:none" id="tr_model_id_4">
<td  align="right" class="bold">输入网址：</td>
<td align="left">
<input type="text" name="__model_id_4"  value="{$vo.url}">
</td>
</tr>
<tr>
<td  align="right" class="bold">是否显示时间：</td>
<td align="left"><input type="radio" name="isShowDate" value="0" <if condition="$vo['isShowDate'] eq 0">checked</if> />否&nbsp;&nbsp;<input type="radio" name="isShowDate" value="1" <if condition="$vo['isShowDate'] eq 1">checked</if>/>是</td>
</tr>
<tr>
<td  align="right" class="bold">排序ID：</td>
<td align="left"><input type="text" name="orders" value="{$vo.orders}"/></td>
</tr>
</table>
<input type="hidden" name="id" value="{$vo.id}" />
{__TOKEN__}
<p align="center"><input type="submit" class="userButton" value="保存" />&nbsp;<input type="button" class="userButton" value="返回" onclick="window.location.href='{:U($MODULE_NAME.'/index')}';" /></p>
</form>
</ul>
<script type="text/javascript">
<!--
var model_type = document.getElementById('model_type').value;
document.getElementById('tr_model_id_'+model_type).style.display="";
//-->
</script>
<include file="Public:foot" />