<include file="Public:head" />
<table cellpadding=0 cellspacing=0 width="95%" bordercolor="#d1d1d1" border="1">
<thead>
<tr bgcolor="#f7f7f7" height="26">
<th  align="center">名称</th>
<th  align="center">语种</th>
<th  align="center">图片</th>
<th align="center">模型类型</th>    
<th align="center">模型名称</th>    
<th align="center">操作</th>  
</tr>
</thead>
<tbody>
<foreach name="list" item="v">
<tr>
<td>{$v.name}
<if condition="$v['show'] eq 1"><font color=red>【已发布】</font></if>
</td>
<td>{$v.langname}</td>
<td>
<img src="__ROOT__/icon/{$v.icon}" />
</td>
<td>{$v.modelname}</td>
<td>{$v.modelidname}</td>
<td><a href="{:U($MODULE_NAME.'/edit',array('id'=>$v['id']))}">修改</a> | <a href="{:U($MODULE_NAME.'/del',array('id'=>$v['id']))}">删除</a>
<if condition="$v['show'] eq 0">
 | <a href="{:U($MODULE_NAME.'/doShow',array('id'=>$v['id'],'show'=>1))}" onclick="return confirm('添加安装包会造成客户端提示更新，确定要继续吗？');">发布</a>
 <else />
 | <a href="{:U($MODULE_NAME.'/doShow',array('id'=>$v['id'],'show'=>0))}">取消发布</a>
</if>
 </td>
</tr>
</foreach>
</tbody>
</table>
<p align="right">{$page}</p>
<p align="left"><a href="{:U($MODULE_NAME.'/add')}">增加</a></p>

<include file="Public:foot" />