<include file="Public:head" />
    <h1>{$title}</h1>
    <load href="../Public/kind/kindeditor-min.js" />
<load href="../Public/kind/lang/zh_CN.js" />
<script>
            var editor;
            KindEditor.ready(function(K) {
                editor = K.create('textarea[name="desc"]', {
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowFileUpload:true,
					allowFileManager:true,
                    items : [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',  '|',  'link','image','insertfile','source']
                });
            });
        </script>
<form action="{:U('News/save')}" method="post"  ENCTYPE="multipart/form-data">
<table cellpadding=0 cellspacing=0 width="98%" bordercolor="#d1d1d1" border="1">
<tr>
<td  align="right" class="bold" width="30%">资讯分类：</td>
<td align="left">
<select name="cate_id">
<foreach name="catelist" item="v">
<option value="{$v.id}" <eq name="v['id']" value="$vo['cate_id']">selected</eq>>{$v.name}</option>
</foreach>
</select>
</td>
</tr>
<tr>
<td  align="right" class="bold">资讯标题：</td>
<td align="left" width="70%"><input type="text" name="name" value="{$vo.name}" ></td>
</tr>
<tr>
<td align="right" class="bold">ICON图片：</td>
<td align="left">
<if condition="strlen($vo['icon']) gt 5">
<img src="__ROOT__/{$vo.icon}" /><br />
</if>
<input type="file" name="icon" id="icon" />(注：图片不要太大 如果资讯需要推荐则必须要填写)</td>
</tr>
<tr>
<td  align="right" class="bold">资讯简介：</td>
<td align="left"><textarea style="width:90%;height:50px;border:1px solid #cccccc" name="memo">{$vo.memo}</textarea></td>
</tr>
<tr>
<td  align="right" class="bold">详细内容：</td>
<td align="left"><textarea name="desc" style="width:90%;height:30%;border:1px solid #cccccc">{:htmlspecialchars($vo['desc'])}</textarea></td>
</tr>
<tr>
<td  align="right" class="bold">作者：</td>
<td align="left" width="70%"><input type="text" name="author" value="{$vo.author}" ></td>
</tr>
<tr>
<td  align="right" class="bold">排序：</td>
<td align="left" width="70%"><input type="text" name="orders" value="{$vo.orders}" ></td>
</tr>
</table>
<input type="hidden" name="id" value="{$vo.id}" />
{__TOKEN__}
<p align="center"><input type="submit" class="userButton" value="保存" />&nbsp;<input type="button" class="userButton" value="返回" onclick="window.location.href='{:U($MODULE_NAME.'/index')}';" /></p>
</form>

<include file="Public:foot" />