<include file="Public:head" />
<form action="{:U($MODULE_NAME.'/index')}" method="get">
<table cellpadding=0 cellspacing=0 width="95%" bordercolor="#d1d1d1" border="1">
<tr><td>
&nbsp;搜索关键字：
<input type="text" name="keyword" value="{$keyword}" />
<select name="cate_id">
<option value="">全部</option>
<foreach name="catelist" item="catev">
<option value="{$catev.id}" <eq name="catev['id']" value="$cate_id">selected</eq>>{$catev.name}</option>
</foreach>
</select>
<input type="hidden" name="m" value="{$MODULE_NAME}" />
<input type="hidden" name="a" value="{$ACTION_NAME}" />   
<input type="submit" value="搜索" />
</td></tr>
</table>
</form>
<table cellpadding=0 cellspacing=0 width="95%" bordercolor="#d1d1d1" border="1">
<thead>
<tr bgcolor="#f7f7f7" height="26">
<th  align="center">标题</th>
<th align="center">分类</th>    
<th align="center">作者</th>    
<th align="center">时间</th>    
<th align="center">操作</th>  
</tr>
</thead>
<tbody>
<foreach name="list" item="v">
<tr>
<td>{$v.name}<if condition="$v['hots'] eq 1"><span class="red">【推荐】</span></if></td>
<td>{$v.catename}</td>
<td>{$v.author}</td>
<td>{$v.adddate|date='Y-m-d H:i:s',###}</td>
<td><a href="{:U($MODULE_NAME.'/edit',array('id'=>$v['id']))}">修改</a> | <a href="{:U($MODULE_NAME.'/hot',array('id'=>$v['id']))}">推荐</a> | <a href="{:U($MODULE_NAME.'/del',array('id'=>$v['id']))}">删除</a>
<if condition="$v['show'] eq 0">
 | <a href="{:U($MODULE_NAME.'/doShow',array('id'=>$v['id'],'show'=>1))}" onclick="return confirm('确定要发布吗？');">发布</a>
 <else />
 | <a href="{:U($MODULE_NAME.'/doShow',array('id'=>$v['id'],'show'=>0))}">取消发布</a>
</if>

<if condition="$v['isPush'] eq 0">
 | <a href="{:U($MODULE_NAME.'/doPush',array('id'=>$v['id']))}" onclick="return confirm('确定要推送吗？');">推送</a>
 <else />
 | <a href="{:U($MODULE_NAME.'/doPush',array('id'=>$v['id']))}" onclick="return confirm('确定要推送吗？');"><font color="red">重新推送</font></a>
</if>

</td>
</tr>
</foreach>
</tbody>
</table>
<p align="right">{$page}</p>
<p align="left"><a href="{:U($MODULE_NAME.'/add')}">增加</a></p>

<include file="Public:foot" />