<include file="Public:head" />
    <h1>{$title}</h1>
<div>
{$vo.desc}
</div>
<p align="center"><input type="button" class="userButton" value="返回" onclick="window.location.href='{:U($MODULE_NAME.'/index')}';" /></p>

<include file="Public:foot" />