<include file="Public:head" />
<table cellpadding=0 cellspacing=0 width="95%" bordercolor="#d1d1d1" border="1">
<thead>
<tr bgcolor="#f7f7f7" height="26">
<th  align="center">ID</th>
<th align="center">反馈内容</th>
<th align="center">操作</th>  
</tr>
</thead>
<tbody>
<foreach name="list" item="v">
<tr>
<td width="20">{$v.id}</td>
<td style="text-overflow:ellipsis">{$v.desc}</td>
<td><a href="{:U($MODULE_NAME.'/edit',array('id'=>$v['id']))}">详细</a> | <a href="{:U($MODULE_NAME.'/del',array('id'=>$v['id']))}">删除</a></td>
</tr>
</foreach>
</tbody>
</table>
<p align="right">{$page}</p>

<include file="Public:foot" />