<include file="Public:head" />
<load href="../Public/kind/kindeditor-min.js" />
<load href="../Public/kind/lang/zh_CN.js" />
<script>
            var editor;
            KindEditor.ready(function(K) {
                editor = K.create('textarea[name="desc"]', {
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowImageUpload : false,
                    items : [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'source']
                });
            });
        </script>
    <h1>{$title}</h1>
<form action="{$action}" method="post">
<table cellpadding=0 cellspacing=0 width="98%" bordercolor="#d1d1d1" border="1">
<tr>
<td width="30%" align="right" class="bold">版本号：</td>
<td align="left">
<input type="text" name="name" value="{$vo.name}" />
</td>
</tr>
<tr>
<td width="30%" align="right" class="bold">安装包名称：</td>
<td align="left">
<input type="text" name="apk_name" value="{$vo.apk_name}" />
</td>
</tr>
<tr>
<td  align="right" class="bold">更新内容：</td>
<td align="left">


<textarea name="desc" style="width:90%;height:30%;border:1px solid #cccccc">{:htmlspecialchars($vo['desc'])}</textarea>
</td>
</tr>
</table>
<input type="hidden" name="id" value="{$vo.id}" />
{__TOKEN__}
<p align="center"><input type="submit" class="userButton" value="保存"/>&nbsp;<input type="button" class="userButton" value="返回" onclick="window.location.href='{:U('Index/index')}';" /></p>
</form>

<include file="Public:foot" />