@CHARSET "UTF-8";
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{margin-left:10%}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
/* to preserve line-height and selector appearance */
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
/*to enable resizing for IE*/
input,textarea,select{*font-size:100%;}
/*because legend doesn't inherit in IE */
legend{color:#000;}

h1 {
    /*18px via YUI Fonts CSS foundation*/
    font-size:138.5%;  
}
h2 {
    /*16px via YUI Fonts CSS foundation*/
    font-size:123.1%; 
}
h3 {
    /*14px via YUI Fonts CSS foundation*/
    font-size:108%;  
}
h1,h2,h3 {
    /* top & bottom margin based on font size */
    margin:1em 0;
}
h1,h2,h3,h4,h5,h6,strong {
    /*bringing boldness back to headers and the strong element*/
    font-weight:bold; 
}
abbr,acronym {
    /*indicating to users that more info is available */
    border-bottom:1px dotted #000;
    cursor:help;
} 
em {
    /*bringing italics back to the em element*/
    font-style:italic;
}
blockquote,ul,ol,dl {
    /*giving blockquotes and lists room to breath*/
    margin:1em;
}
ol,ul,dl {
    /*bringing lists on to the page with breathing room */
    margin-left:2em;
}
ol li {
    /*giving OL's LIs generated numbers*/
    list-style: decimal outside;    
}
ul li {
    /*giving UL's LIs generated disc markers*/
    list-style: disc outside;
}
dl dd {
    /*giving UL's LIs generated numbers*/
    margin-left:1em;
}
th,td {
    /*borders and padding to make the table readable*/
    padding:.5em;
}
th {
    /*distinguishing table headers from data cells*/
    font-weight:bold;
    text-align:center;
}
caption {
    /*coordinated margin to match cell's padding*/
    margin-bottom:.5em;
    /*centered so it doesn't blend in to other content*/
    text-align:center;
}
p,fieldset,table,pre {
    /*so things don't run into each other*/
    margin-bottom:1em;
}
/* setting a consistent width, 160px; 
   control of type=file still not possible */
.input_text{border:1px solid #cccccc; height:22px;line-height:22px;width:150px}

body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}
/**
 * Bump up IE to get to 13px equivalent
 */
pre,code,kbd,samp,tt {font-family:monospace;*font-size:108%;line-height:100%;}


a{color:#0063DC;text-decoration:none;}
a:visited {color:#0063DC;text-decoration:none;}
a:hover {color:#fff;background:#0063DC;text-decoration:none;}
a.dark {color:#333;}

.blue {color:#000099 }
 .red {color:#ff3300 }
 .yellow {color:#ff6600 }
 .green {color:#009900 }
 .gray {color:#666666 }
 .white {color:#ffffff }
 .clear {clear:both }

.header {font-size:24px;color:#0063DC;padding-top:10px;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #eee;width:auto}
.header a{color:#0063DC;}
.header a:hover{color:#fff;background:#0063DC;}
.login{position:absolute;top:20%}

.iconlist{position:absolute;top:5px;left:0;width:90%;height:90%;border:1px solid #ccc;z-index:1000;background-color:#ccc;display:none}
.iconlist img{display:block; height:50px;width:50px; border:1px solid #1a1a1a; margin:5px;cursor:pointer;float:left}
.iconlist img.selct{border:1px solid #ff0000}
.iconlist .close{position:absolute;top:2px;right:2px;width:26px;height:16px;cursor:pointer;background-color:#ff0000}
.footer{clear:both;margin-top:10px;text-align:center;width:80%;}
